{{
# ------ INSTRUCTION --------------------------------------
# invoke this template by using render command line utility
# like this:
#
# render -i apache.conf.tmpl -j apache.conf.ctx
#
# See also:
#    apache_render.py
#    apache_decorator.py
# ---------------------------------------------------------
}}
NameVirtualHost *:80

<VirtualHost *:80>
  ServerName {{=domain}}

  DocumentRoot /srv/www/default

  <Location "/">
    Order Deny, Allow
    Deny from all
    Allow from all
  </Location>
</VirtualHost>

{{for plusdomain in plusdomain_map:}}
{{server = plusdomain_map[plusdomain]}}
<VirtualHost *:80>
  ServerName {{=plusdomain}}

  ProxyPreserveHost on
  ProxyPass / http://{{=server}}/
  ProxyPassReverse / http://{{=server}}/
</VirtualHost>

{{pass}}
