{{
# ------ INSTRUCTION --------------------------------------
# invoke this template by using render command line utility
# like this:
#
# render -i iptables.conf.tmpl -j iptables.conf.ctx
#
# See also:
#    iptables_render.py
#    iptables_decorator.py
# ---------------------------------------------------------
}}
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{{for dport in dports:}}
-A INPUT -i {{=interface}} -p {{=protocol}} --dport {{=dport}} -m state --state NEW,ESTABLISHED -j ACCEPT
{{pass}}
-A INPUT -i lo -j ACCEPT
-A INPUT -j DROP
-A FORWARD -j DROP
-A OUTPUT -j ACCEPT
