{{
# ------ INSTRUCTION --------------------------------------
# invoke this template by using render command line utility
# like this:
#
# render -i iptables_template.conf.tmpl -c "interface='eth0'" -c "protocol='tcp'" -c "dports='80, 8080, 443'"
# ---------------------------------------------------------

dports = [port.strip() for port in dports.split(',')]

}}
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{{for dport in dports:}}
-A INPUT -i {{=interface}} -p {{=protocol}} --dport {{=dport}} -m state --state NEW,ESTABLISHED -j ACCEPT
{{pass}}
-A INPUT -i lo -j ACCEPT
-A INPUT -j DROP
-A FORWARD -j DROP
-A OUTPUT -j ACCEPT
