worker_processes 1;
daemon off;
error_log nginx_error.log;
events {
    worker_connections 1024;
}

http {
    server {
        listen 8008;

        location / {
            proxy_pass http://127.0.0.1:8080;
        }

<%for loc in locations:%>
<%server_port = locations[loc]%>
        location /<%=loc%> {
            rewrite ^/<%=loc%>(.*) /$1 break;
            proxy_pass http://<%=server_port%>;
        }
<%pass%>
    }
}
